@media screen and (max-width: 1410px) {
    .backgroundscreen {
        height: 100%;
    }

    .book {
        position: relative;
        width: 50rem;
        top: 30rem;
        margin: auto;
        bottom: 0;
        right: 0;
    }

    .product {
        grid-template-columns: 1fr 1fr;
    }

    .classifick {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
    }

    .info {
        display: none;
    }

    .headerin {
        align-items: center;
        justify-content: space-around;
    }

    .navhead {
        font-size: 1.5rem;
    }

    .sticky {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .logohead {
        display: none;
    }

    .texth1 p {
        display: none;
    }

    .maintext div {
        display: none;
    }
}
