a {
	text-decoration: none;
	color: #fff;
}
footer {
	/* height: 72vh; */
	background-color: #252525;
}
.ft1 {
	/* border-bottom: 4px solid #ff7c2f; */
	padding: 3vh;
	padding-bottom: 2vh;
	color: #fff;
}
.npb-ft p{
	font-size: 25px;
	margin-left: 10px;
	margin-top: 1vh;
}
.ft1 h2{
	margin-top: 1vh;
	font-size: 25px;
	font-family: Dobrozrachniy, sans-serif;
	text-transform: uppercase;
}

.ft-s {
	margin: 0;
	padding: 0;
}

.sqaer {
	width: 8px;
	height: 8px;
	color: #fff;
}

.coums-ft {
	display: flex;
	justify-content: space-around;
}

.col-1 {
	color: #fff;
	margin: 3rem;
}
 .col-2 a{
 	 transition: 0.5s linear;
 }
 .col-2 {
 	height: 300px;
 	transition: 1s linear;
 	color: #fff;
	margin-top: 10vh;
	width: 15%;
 }
  .col-2 p{
  	font-size: 20px;
  	margin-bottom: 10%;
	padding-bottom: 5%;
  	width: 150px;
  	border-bottom: 3px solid #ff7c2f;
  }
  .col-2 ul li{
  	font-size: 15px;
  	font-weight: bold;
  	font-family: Open Sans, sans-serif;
  	margin-bottom: 10%;
  }
.col-2 a:hover{
	margin-left: 5%;
	transition: 0.3s linear;
	color: #ff7c2f;
}
.footr-ft {
	font-family: DOCKER, sans-serif;
	font-weight: bold;
	display: flex;
	align-items: center;
	height: 9ch;
	background-color: #1e1d1d;
	justify-content: space-around;
}
.glb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background: url('../img/zakat.jpg') no-repeat center bottom;
  background-size: 100%;
	-o-background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

}
.glb p {
	text-shadow: 1px 2px rgba(0,0,0, .3);
  font-family: Intro;
  font-size: 23px;
  color: #fff;
}
.prava {
	color: #525252;
}
.cop {
	color: #525252;
}

.neativ .selecter{
	margin-top: 0; !important
}
.selecter-footer {
	background-color: #f6bb43;
	color: #484848;
}

.animhr {
	border: 0px;
  height: 4px;
  background: #37ffe8;
  box-shadow: 65vw 0 25vw -25vw #6708ff inset;
  animation: animahr 3s infinite alternate;
}

@keyframes animahr {
  50% {
		background: #3171ea;
    box-shadow: 75vw 0 25vw -25vw #7afff6 inset;
  }
}
