@font-face {
    font-family: Intro;
    src: url(intro.otf);
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

body {
    background: black;
}

header {
    position: fixed;
    z-index: 1000;
    width: 97%;
    padding-top: 30px;
    padding-left: 3%;
    transition: 1s;
}

.sticky {
    background: #000815c2;
    padding-top: 5px;
    padding-bottom: 5px;
}

.headerin {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.logohead {
    width: 60px;
    margin: 0 1vw 0 0;
}

/*--Menu*/
.navhead {
    /* transform: translate(0, -125%); */
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.navhead .navlink::before {
    content: '';
    bottom: 0;
    height: 2px;
    background-color: #cef9ef;
    left: 0;
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    transition: .3s;
}

.navhead .navlink:hover:before {
    transform: scaleX(1);
}

.navlink:hover {
    color: #cef9ef;
}

.navlink {
    padding-bottom: 4px;
    position: relative;
    vertical-align: top;
    margin: 0 1vw;
    color: #fff;
    text-decoration: none;
    transition: color .2s linear;
}


.activelink {
    color: #cef9ef;
    /* margin-right: 3vw; */
}

.modlogo {
    width: 100%;
}

.backgroundscreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: white;
}

.bigball, .ball, .smallball {
    border-radius: 50%;

    position: absolute;

    transition: 1.5s cubic-bezier(0.64, -0.11, 0.68, 1.54);
}

.bigball {
    width: 65rem;
    height: 65rem;
    top: -25rem;
    left: -10rem;

    background: linear-gradient(160deg, #5697da 35%, #cef9ef);
}

.bigballanim {
    top: 10rem;
    left: -23rem;
}

.ball {
    width: 10rem;
    height: 10rem;
    bottom: 6rem;
    right: 21rem;
    background: linear-gradient(-50deg, #5697da, #cef9ef);
}

.ballanim {
    bottom: 10rem;
    right: 2rem;
}

.smallball {
    width: 20rem;
    height: 20rem;
    top: -5rem;
    right: -5rem;
    background: linear-gradient(211deg, #5697da 43%, #cef9ef);
}

.smallballballanim {
    top: 8rem;
    right: 14rem;
}

.first-screen {
    height: 100vh;
}

.book {
    position: absolute;
    z-index: -1;
    width: 20rem;
    bottom: 11rem;
    right: 26rem;
}

.book img {
    width: 100%;
}

.maintext {
    width: 35rem;
    position: relative;
    font-size: 2rem;
    font-family: intro;
    top: 14rem;
    left: 15rem;
    color: #fff;
}


.hoverinprime {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hoverinprime:hover .primetext:before {
    content: "";
    display: block;
    width: 10rem;
    height: 3px;
    margin-bottom: 10px;
}

.primetext:before {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    margin-bottom: 10px;
    background-color: #cef9ef;
    transition: width .2s linear;
}

.hoverinprime:hover .primeimg {
    transform: rotate(10deg);
}

.primeitem {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Intro;
}

.primeimg {
    width: 7rem;
    padding-bottom: 1rem;
    transition: transform .2s linear;
}

.primetitle {
    font-size: 17px;
    padding-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.primetext {
    font-size: 0.7rem;
    color: #656565;
}


.prime {
    display: flex;
    align-items: center;
    background: white;
    padding: 3rem 0 3rem 0;
    justify-content: space-evenly;
}

.classifick {
    display: flex;
    height: 60vh;
    background: linear-gradient(#fff 30%, rgba(255, 255, 255, 0.75));
    justify-content: space-around;
    align-items: center;
}

.servicesfotoX {
    background-color: #cef9ef;
    position: relative;
    margin: 1rem;
    display: block;
}

.gradientsX {
    background: linear-gradient(to bottom, #cef9ef, #5697da);
    transition: transform .2s linear;
}

.servicesfotoX:hover .gradientsX {
    transform: translate3d(10px, 10px, 0px);
}

.servicesfotoX:hover .gradientsX img {
    opacity: .1;
}

.gradientsX img {
    display: block;
    transition: opacity .3s linear;
}

.animtextbotX {
    width: 85%;
    margin: 0 7.5%;
    text-align: center;
    opacity: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    position: absolute;
    top: 57%;
    left: 0;
    z-index: 3;
    transition: opacity .2s linear;
    font-family: 'Open Sans', sans-serif;
}

.animtextX {
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 31%;
    text-shadow: 2px 1px 20px black;
    left: 0;
    z-index: 3;
    transition: opacity .2s linear;
    font-family: 'Open Sans', sans-serif;
}

.servicesfotoX:hover .animtextbotX {
    opacity: 1;
}

.servimgX {
    max-width: 440px;
    max-height: 340px;
}

.texth1 {
    height: 20vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.75), white, rgba(255, 255, 255, 0.75));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Intro';
    padding-bottom: 4rem;
    font-size: 1.2rem;

}

.texth1 p {
    font-size: 0.7rem;
    color: gray;
}

.texth1 h1 {
    margin-top: 1.5rem;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 100px;
    background: rgba(255, 255, 255, 0.75);
    padding: 3rem 0 3rem 0;
}

.block {
    background: none;
    border: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.photo img {
    width: 100%;
}

.photo {
    width: 20rem;
}

.photo p {
    position: absolute;
    width: 17rem;
    z-index: 10;
    margin: -27rem 1.5rem 0 1.5rem;
    font-family: 'Intro';
    height: 26rem;
    overflow: auto;

    opacity: 0;
    transition: 1s;
}

.photo::before {
    content: "";
    display: block;
    background: #e4f1ffc9;
    border-radius: 1rem;
    position: absolute;
    width: 20rem;
    height: 28rem;

    opacity: 0;
    transition: .5s;
}

.block:hover .photo::before {
    opacity: 1;
}

.block:hover .photo p {
    opacity: 1;
}

.price {
    font-size: 1.2rem;
    font-family: 'Intro';
    border-radius: 50%;
    background: #b0e0ea73;
    padding: 0.8rem;
    transition: .3s;
}

.price:hover {
    background: rgb(176, 224, 234);
}

.buy {
    display: flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.buyinfo {

    margin: 0 2rem;
    font-family: 'Intro';
    font-size: 1rem;

}

.buyinfo p a {
    color: red;
    transition: .4s;
}

.buyinfo p a:hover {
    color: #7b0099;
    transition: .2s;

}

.button {
    width: 10rem;
    padding: 9px 20px 9px 20px;
    display: block;
    text-align: center;
    cursor: pointer;
    font-family: Intro;
    text-align: center;
    color: black;
    text-transform: uppercase;
    border-radius: 20px;
    border: 3px solid #000;
    transition: .4s;
    background: none;
}


.button:hover {
    background: #e8fdff;
    border: 3px solid #15eded;
    color: #007777;
}

.buybutton {
    text-align: center;
    display: block;
}

.buybutton p {
    font-family: 'Intro';
    color: #2e9eff;
    padding: 1rem;
}

.maintext div {

    font-size: 1rem;
    margin-left: -6rem;
    margin-top: 2rem;
    width: 100%;
    text-shadow: 0 0 20px black;

}

.adrees {
    display: flex;
}

.inputer {
    border-radius: 20px;
    border: 2px solid #000;
    margin-left: 2em;
}

.inputer {
    padding: 7px;
}

.bought {
    align-items: center;
    display: flex;
}

.number {
    display: flex;
    align-items: center;
}

#promo {
    padding: 0.5rem;
    border-radius: 50px;
    width: 9rem;
    margin: 1rem 0 1rem 0;
    font-size: 1rem;
}

.maintextPOLITIC {
    display: flex;
    align-content: center;
    justify-content: center;
}

.maintextPOLITIC div {
    width: 70%;
    font-size: 1rem;
    margin-top: 10rem;
}

.first-screenPOLITIC {
    height: auto;
}

.num {
    font-size: 1rem;
}

.buyblock {
    text-shadow: 1px 1px 20px #000000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0.5rem;
}
.flr {
    float: right;
    margin-right: 1rem;
}
.formpresent {
    transform: translate(-14rem, 0);
}
